/* COMMON CSS START */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner&family=Montserrat&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.row {
    display: flex;
}

.container {
    /* background-image: url(Images/headerbg.png); */
    width: 1440px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 825px;
}

.cnt {
    width: 1440px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}

.main-header {
    background-image: url(Images/headerbg.png);
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row1 {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    padding: 0 15px;
    flex: 1 0 0%;
}

.col2 {
    display: block;
    margin-top: 200px;
    width: 500px;
}

.logo {
    margin-top: 20px;
}

.ml-a {
    margin-left: auto;
}

.navbar ul li {
    display: inline-block;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.txt-end {
    text-align: end;
    margin-top: 23px;
}

/* COMMON CSS END */





/* Header CSS START */
#main-header {
    background: url(../images/headerbg.png);
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li:nth-child(2n),
li:nth-child(3n) {
    padding: 10px;
}

.jss {
    justify-content: space-between;
}

.img {
    position: relative;
    width: 825px;
    height: 825px;
    left: 700px;
    top: -630px;
}


.text {
    border: 2px dashed black;
    width: fit-content;
    padding: 5px;
    font-size: 20px;
    font-family: "Bebas Neue";
}

.text2 p {
    font-size: 100px;
    text-transform: uppercase;
    font-family: "Alfa Slab One";
    font-weight: 600;
    color: #3d2514;
}

.text3 p {
    font-size: 80px;
    text-transform: uppercase;
    font-family: "Alfa Slab One";
    font-weight: 600;
    color: #3d2514;
}

.image-ab {
    position: absolute;
    margin-top: -330px;
    margin-left: 330px;
}

.image-re img {
    position: relative;
}

.fries {
    top: 30px;
    left: 330px;
}

.burger {
    top: -60px;
    z-index: 1;
    left: 470px;
}

.drinks {
    top: -65px;
    /* left: 80px; */
    right: -20px;
}

.col-50 {
    width: 50%;
}

.sec-1 {
    padding-top: 40px;
}

.pad-35 {
    padding-left: 80px;
}

.mt-em {
    margin-top: 1.8em;
}

.pos-re {
    position: relative;

}

.try-it {
    top: 30px;
    left: 25px;
    color: white;
    position: absolute;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Bebas Neue', sans-serif;
}

.mostp {
    top: 65px;
    left: 25px;
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Bebas Neue', sans-serif;
}

.title {
    text-align: center;
}

.title span {
    font-size: 50px;
    line-height: 38px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
}

.title p {
    padding-top: 10px;
    width: 1082px;
    height: 56px;
    font-size: 17px;
    line-height: 29px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin: 0 auto;
}

.sec-2 {
    padding-top: 40px;
}

.col-30 {
    width: 30%;
    text-align: center;
}

.heading {
    padding: 25px 0;
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 600;
    font-family: "Bebas Neue";
    text-align: center;

}

.lorem {
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
    width: 80%;
}

.mt-30 {
    padding-top: 30px;
}

.btn {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn a {
    padding: 10px;
    margin: 45px 0;
    font-size: 17px;
    line-height: 38px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Alfa Slab One";
    background-color: #bf2222;
}

.card {
    text-transform: uppercase;
    margin: 90px;
    padding: 25px;
    /* width: 1294px; */
    /* height: 492px; */
    filter: drop-shadow(18.656px 24.758px 21.5px rgba(0, 0, 0, 0.17));
    background-color: #ffffff;
}

.col span {
    font-size: 29px;
    letter-spacing: 2px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 700;
    font-family: "Bebas Neue";
}

.col h2 {
    font-size: 42px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
}

.col p {
    width: 531px;
    height: 173px;
    font-size: 21px;
    line-height: 33px;
    color: #3d3d3d;
    font-weight: 400;
    font-family: "Montserrat";
    padding-top: 40px;
}   

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.sec-4 {
    background: url(Images/footerimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px;
}

.imgs {
    padding: 60px 0;
}

.col-60 p {
    width: 520px;
    /* height: 106px; */
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    /* padding: 50px; */
    text-align: left;
}

.mt-end {
    padding-top: 170px;
}

.info-2 {
    color: #ffffff;
    /* padding: 45% 0; */
    margin-top: 240px;
}

.location img {
    width: 18px;
}

.email img {
    width: 18px;
    margin-top: 10px;
}

.pd-20 {
    padding: 20px;
}

.social {
    text-align: end;
    padding-top: 183px;
}

.social img {
    margin-right: 5px;

}