*{
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(42, 42, 82);
}

input{
    width: 300px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button{
    background-color: wheat;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.row{
    display: flex;
    gap: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

ul{
    padding: 7px;
}

li{
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}